<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagecontent %}
{% include 'buttonStyles.html' %}

<html>
<body>
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">Ava's Bubble Sort</h1>
            <p style="font-size:20px" >Insert any combination of letters or numbers separated by a comma to have them be sorted!</p>
        </header>
    </div>
<form method="POST" ID="myForm" action=# class="form1">
    <p>
        <label for="list" class="pt-5 text-white">List:</label>
        <input id="list" name="list" placeholder="Enter List" type="text" required="required">
    </p>
    <p>
        <button class="button"><span>Sort!</span></button>
    </p>
</form>
    <br>
    <table style="width:100%">
        <tr>
            <th>Inputted List</th>
            <th>Sorted List</th>
        </tr>
        <tr>
            <td>{{list}}</td>
            <td>{{sort}}</td>
        </tr>
    </table>
</div>


</body>
</html>
{% endblock %}