<!DOCTYPE html>
{% extends "layout.html" %}

{% block pagecontent %}
<html>
<body>
<br><br><br><br><br>
<h1 class="title">Bubble Sort</h1>
<h6 class="sub-title">This algorithm sorts a list of integers from least to greatest!</h6>
<br><br><br>
<h3 class="text">List of Numbers: <input id="list1" name="list1" placeholder="Enter List of Numbers" type="text" required="required"><br><br><button class="button"><span>Sort!</span></button></h3>

</body>
</html>
<style>
    .title {
        color: white;
        text-align: center;
    }

    .text {
        color: white;
        margin-left: 200px;
    }

    .sub-title {
        color: white;
        text-align: center;
    }

</style>

{% endblock %}