<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagecontent %}



<form method="POST" ID="myForm" action=# class="form1">
    <p>
        <label for="Username" class="floatLabel">Username</label>
        <input id="Username" name="Username" placeholder="Username" type="text" required="required">
    </p>
    <p>
        <label for="password"  class="floatLabel">Password</label>
        <input id="password" name="password" placeholder="Password" type="password" required="required">
    </p>
    <p> <p> Don't have an account? <a href="/signup" style="color: white">Sign Up</a></p>
    <p>

        <input type="submit" class="button button-primary" value="Login">
    </p>
</form>

{% endblock %}