<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagecontent %}
{% include 'buttonStyles.html' %}
{% include 'tableStyles.html' %}

<html>
<body>
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">Del Norte Group</h1>
            <p style="font-size:20px; text-align:center" > See all the posts made by members of your group below!</p>
        </header>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:black">Username</h5>
                    <p class="card-text" style="color:black">Update</p>
                    <a href="#" class="btn btn-primary">Emotion</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color:black">Username</h5>
                    <p class="card-text" style="color:black">Update</p>
                    <a href="#" class="btn btn-primary">Emotion</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

{% endblock %}
