<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagecontent %}
{% include 'buttonStyles.html' %}
{% include 'tableStyles.html' %}

<html>
<body>
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">Del Norte Group</h1>
            <p style="font-size:20px; text-align:center" > See all the posts made by members of your group below!</p>
        </header>
    </div>


    <div class="row" style="text-align:center">
        <div class="col-sm-6">
            {%for row in posts%}
            <div class="card text-center">
                <div class="card-header" style="color:black">
                    {{row.username}}
                </div>
                <div class="card-body">
                    <p class="card-text" style="color:black">{{row.update}}</p>
                    <h5 class="card-text" style="color:black">Feeling...<u>{{row.emotion}}</u></h5>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}
