<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagecontent %}
{% include 'buttonStyles.html' %}
{% include 'tableStyles.html' %}

<html>
<body>
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">Groups:</h1>
            <p style="font-size:20px" > </p>
        </header>
    </div>
    <form action=/groups/delnorte class="form1">
        <p>
            <button class="button"><span>Del <br>Norte</span></button>
            <!--img src="/static/delnorte.jpg"-->
    </form>
    <form  action=/mtCarmel class="form1">
        <p>
            <button class="button"><span>Mount Carmel</span></button>
    </form>
    <form  action=/ranchoBernardo class="form1">
        <p>
            <button class="button"><span>Rancho Bernardo</span></button>
    </form>
    <form  action=/westview class="form1">
        <p>
            <button class="button"><span>Westview</span></button>
    </form>
    <br>
    <br>

</div>
</body>
</html>

{% endblock %}