<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagecontent %}
{% block title %}
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">Welcome To TheSmack!</h1>
        </header>
    </div>


<div class="row">

    <div class="card border-primary text-center col-3" style="width: 18rem; margin: 2rem;">
        <div class="card-header">
            Most Recent Smack
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer text-muted">

        </div>
    </div>

    <div class="card border-primary text-center col" style="width: 40rem; margin: 2rem; float: top;">
        <div class="card-header">
            Trending Video
        </div>
        <div class="card-body">
            <div class="video-responsive">
                <iframe width="660" height="400" src="https://www.youtube.com/embed/FpLBDJw8iJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col">
        <div class="card border-primary" style="width: 35rem; height: 13rem; margin: 2rem;">
            <div class="card-header">
                Quote of the Day
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>

    </div>

    <div class="card border-primary text-center col-3" style="width: 22rem; height: 20rem; margin: 3rem;">
        <div class="card-header">
            Trending Accounts
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">Name</li>
                <li class="list-group-item">Name</li>
                <li class="list-group-item">Name</li>
                <li class="list-group-item">Name</li>
            </ul>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>

</div>


{% endblock %}
{% endblock %}