<!DOCTYPE html>
{% extends "layout.html" %}
{% block pagecontent %}
{% block title %}
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4">Welcome To TheSmack!</h1>
        </header>
    </div>


<div class="row">

    <div class="card border-light text-center col-3" style="width: 18rem; margin: 2rem;">
        <div class="card-header" style="text-color: white">
            Most Recent Smack
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" style="text-color: white"><u>Name:</u> {{recent.name}}</li>
                <li class="list-group-item" style="text-color: white"><u>Emotion:</u> {{recent.emotion}}</li>
                <li class="list-group-item" style="text-color: white"><u>Update:</u> {{recent.update}}</li>
            </ul>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>

    <div class="card border-light text-center col" style="width: 40rem; margin: 2rem; float: top;">
        <div class="card-header" style="text-color: white">
            Theme Inspiration Video
        </div>
        <div class="card-body">
            <div class="video-responsive">
                <iframe width="660" height="400" src="https://www.youtube.com/embed/FpLBDJw8iJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col">
        <div class="card border-light" style="width: 35rem; height: 13rem; margin: 2rem;">
            <div class="card-header" style="text-color: white">
                Joke of the Day
            </div>
            <div class="card-body">
                <p>{{setup}}</p>
                <p>{{punchline}}</p>
            </div>
        </div>
        </div>

    </div>

    <div class="card border-light text-center col-3" style="width: 22rem; height: 20rem; margin: 3rem;">
        <div class="card-header" style="text-color: white">
            Trending Accounts
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" style="text-color: white"><p><img src="/static/AvaBrooks.jpg" height="25" width="25"></p>Ava Brooks</li>
                <li class="list-group-item" style="text-color: white"><p><img src="/static/EvaGravin.jpg" height="25" width="25"></p>Eva Gravin</li>
                <li class="list-group-item" style="text-color: white"><p><img src="/static/LindaLong.jpg" height="25" width="25"></p>Linda Long</li>
                <li class="list-group-item" style="text-color: white"><p><img src="/static/RisaIwazaki.jpg" height="25" width="25"></p>Risa Iwazaki</li>
            </ul>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>

</div>


{% endblock %}
{% endblock %}